.menu-item {

  padding-bottom: 25px;
  margin-top: 25px;
  min-height: 275px;

  .menu-item-details {
    padding: 0 20px;
    img {
      padding-bottom: 100%;
      width: 100%;
    }
    h4 {
      font-size: 29px;
      line-height: 29px;
    }
  }
}

@media (max-width: 640px) {
  .menu-item {
    flex-direction: column;
    min-height: 200px;

    .menu-item-details {
      img {
        width: 80%;
        max-width: 200px;
      }
    }
  }
}