.search-input {
  display: inline-block;
  position: relative;
  font-size: 14px;
  input {
    height: 40px;
    width: 338px;
    border-radius: 32px;
    padding-left: 65px;
    color: black;
  }
  svg {
    position: absolute;
    left: 26px;
    top: 11px;
  }

  @media (max-width: 640px) {
    display: block;
    flex: 1;

    input {
      width: 100%;
    }
  }
}
